.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
    margin-top: 118px;
    justify-items: center;
}

@media screen and (max-width:1100px){
    .products{
        grid-template-columns: repeat(2,1fr);
    }
}